    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>
            <h2>Symposium Theme [DRAFT]</h2>

            <p>The New Notations Symposium at IRCAM explores current notational practices in the writing for new instruments and media. The aim is to study the changes in notational strategies that are brought forward with new music technologies, where graphics, animation, and algorithmic techniques offer extended compositional possibilities. Musical notation and instruments evolve in parallel, and we find that in much contemporary work, the notation system becomes part of the instrument, or even an integral part of the musical piece itself. Processor-based media enable dynamic score systems that are applied to generate musical events in real-time or respond to instrumental performances in ways traditional media are not capable of.</p>

            <p>Furthermore, with the increased analytical power gained with machine listening technologies, we find that auxillary notations of timbre, gesture, and affect become important aspects of the "writing" of a musical work. Contemporary composers study this potential of new notation, and this symposium look into the design of new instruments from ergonomic and timbral perspectives and study how musical notation develops in concert with these changes.</p>

            <p>Symposium topics include musical notation for new instruments, secondary notation, graphic or algorithmic notation, live and animated notation, usability, sustainability and legacy, tradition, issues of learning, audience communication, and more. The symposium consists of presentations, performances, and discussions. It is an open event, as long as space is available. For people interested in participating in the symposium, please fill in the registration form below.</p>

            <br>

            <p>Key topics during the day will address different aspects of musical instrumentalities: 

            <li>notation and tradition - how does a notational language evolve? 
            <li>new instruments - how does the role of notation change with new technologies? 
            <li>the symbol and the material - do new ergonomic and timbral affordances require new symbolism? 
            <li>the evolving instrument - how do we compose for evolving technologies? 
            <li>notation in screen-based and computational media - what are the qualities of dynamic scores?
            <li>graphic notation, live notation, animated notation - how does concept of "liveness" change?
            <li>education and learning - how do we learn new notations for new digital instruments? 
            <li>audience understanding - how do we communicate what a notation system does?
            <li>how does a notation system evolve, and how do we understand that evolution? 
            <li>what does a musical notation system mediate?
            </p>

        

            <br>
            <h2>Dates</h2>
            
            <p>
            - <b>September 22nd, 2016</b> : Symposium at <u><a href="http://www.ircam.fr/?&L=1">IRCAM</a></u>, Paris.<br>
            - <b>September 23rd, 2016</b> : Workshop with participants and Ircam students
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
