<section id="ircam"> 
	<div class="banner">
        <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
		
				<div>
                <br/><br/><br/>
			    <h2><span style="background-color: #242424">IRCAM</span></h2>
                
                <p> <span style="background-color: #242424">IRCAM, the Institute for Research and Coordination in Acoustics/Music, is one of the world’s largest public research centers dedicated to both musical expression and scientific research. A unique location where artistic sensibilities collide with scientific and technological innovation, Frank Madlener has directed the institute since 2006, bringing together over 160 people.</span></p>

                <p> <span style="background-color: #242424">IRCAM’s three principal activities — creation, research, transmission — are visible in IRCAM’s Parisian concert season, in productions throughout France and abroad, in a new rendezvous created in June 2012, ManiFeste, that combines an international festival with a multidisciplinary academy.</span></p>

                <p> <span style="background-color: #242424">Founded by Pierre Boulez, IRCAM is associated with the Centre Pompidou, under the tutelage of the French Ministry of Culture and Communication. The mixed STMS research lab (Sciences and Technologies for Music and Sound), housed by IRCAM, also benefits from the support of the CNRS and the University Pierre and Marie Curie, as well as Inria (team-project MuTant).</span></p>


<br><span style="background-color: #242424">Further information on the <a href="http://www.ircam.fr">IRCAM website</a></span>.

<br><br><span style="background-color: #242424">Address: 1, place Igor-Stravinsky, 75004 Paris.</span>

<br><br><span style="background-color: #242424">Métro : Hôtel de Ville, Rambuteau, Châtelet, Les Halles</span>

<br><br><span style="background-color: #242424">Ircam is next to the famous Centre Pompidou and should be easy to find.</span>



                </p>
        <div class="iframe-rwd">

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.915616195975!2d2.3492132156840984!3d48.859819479287594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1c3dd0b877%3A0xe54b44663bd2e7ff!2sInstitute+for+Music%2FAcoustic+Research+%26+Coordination+(IRCAM)!5e0!3m2!1sen!2suk!4v1468164386649" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>


<!--
                <iframe src="https://www.google.com/maps/embed?pb=!1m34!1m12!1m3!1d2518.193841568312!2d-0.08913922271244629!3d50.8646110571229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m19!3e2!4m5!1s0x487588b510bc27bb%3A0x29a07b41468f59f7!2sAttenborough+Centre%2C+Falmer%2C+Brighton+BN1+9QF%2C+UK!3m2!1d50.864559899999996!2d-0.0899116!4m5!1s0x487588ca9c6619bf%3A0x97937c332c494df4!2sSilverstone%2C+Brighton+BN1+9RG%2C+UK!3m2!1d50.8667403!2d-0.0898736!4m5!1s0x487588b415ac8927%3A0xa22a0eee0abb868e!2sStation+Approach%2C+Falmer%2C+Brighton+BN1+9SD%2C+UK!3m2!1d50.8624583!2d-0.0872725!5e0!3m2!1sen!2suk!4v1436347084758" width="750" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </p>
  -->               

                                  <br/><br/>

                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>

             <br/><br/><br/><br/>
			</div>
        </div>
    </div>
	</div>
	</div>
</section>
<!-- /.banner -->