    <!-- Keynotes Section -->
    <section id="participants" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>
            <h2>PARTICIPANTS</h2>
                   
            <p><br>

            <!--
      
            <h4><b>Till Bovermann: Thoughts on Instrumentality for Sonic Wilderness Interventions</b></h4>

            Music making has a long tradition and so does the selection of places at which music is performed. Over time, such places turned from simple common areas located i.e. in the centre of a settlement to intentionally designed locations such as churches and concert halls that foster sonic qualities by architectural acoustic elements. Sometimes, however, it feels necessary to escape established performance places and enrich soundscapes of areas by music that are not commonly accepted to be environments for music making. Areas that are off-the-grid, wild. This talk examines the nature of such contemporary wilderness performances, touching aspects like composition, the act of playing, the choice of instruments, and the interpretation of the term "performance" itself.<br>

            <br><b>Biography</b><br>

            <a href="http://tai-studio.org">Till Bovermann</a> studied and worked at Bielefeld University where he received a PhD for his work on Tangible Auditory Interfaces.  Later, he worked as a post-doctoral researcher on tangible and auditory interaction at the Media Lab of Aalto University, Finland. Among others, Till has been teaching instrument design and sound technology at various international institutions, among others the IMM in Düsseldorf, at Aalto Universiy and at the institute for time-based media of UdK Berlin. In his artistic works, he often addresses the relationship between seemingly contradictory elements, e.g. the digital and physical realm. Till also develops software in and for SuperCollider and runs TAI-stuido.org. Since 2014, Till is the principal investigator/UdK Berlin of the 3DMIN project on “Design, Development and Dissemination of New Musical Instruments”, a collaboration between UdK Berlin and TU Berlin. <br><br>
      

            <div class="image-wrapper">
            <img src="img/till.jpg" alt="Till Bovermann" class="scale-image" />
            <div />

			-->

Confirmed participants - >

* Norbert Schnell <br>
* Frédéric Bevilacqua  <br>
* Sally Jane Norman  <br>
* Pavlos Antoniadis <br>
* Enrique Thomas  <br>
* Jonathan Impett <br>
* Claudia Molitor <br>
* Ryan Ross Smith  <br>
* Thor Magnusson  <br>

            <br><hr>
            <h4><b>Enrique Thomas: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            <a href="http://ultranoise.es/blog/">Enrique Thomas</a> is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>


            <br><hr>
            <h4><b>Frederic Bevilacqua: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            <a href="http://ultranoise.es/blog/">Frederic Bevilacqua</a> is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>


            <br><hr>
            <h4><b>Claudia Molitor: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            Claudia Molitor is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>


            <br><hr>
            <h4><b>Ryan Ross Smith: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            <a href="http://www.ryanrosssmith.com">Ryan Ross Smith</a> is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>

            <br><hr>
            <h4><b>Sally Jane Norman: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            Sally Jane Norman is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>

            <br><hr>
            <h4><b>Jonathan Impett: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            Jonathan Impett is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>




            <br><hr>
            <h4><b>Norbert Schnell: title</b></h4>

            abstract ... ... ...  <br>

            <br><b>Biography</b><br>

            Norbert Schnell is ... ... <br><br>
  
            <div class="image-wrapper">
            <img src="img/sam.jpg" alt="name" class="scale-image" />
            </div>


         



            <br/><br/><br/>
        
            </div>
        </div>
    </section>
