    <!-- Programme Section -->
        <section id="programme">
      <div class="dark-background">

      <div class="container content-section text-left">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            <p><b>The day's programme (Thursday, September 22nd) is the following:</b><br></p>

            <br>10:00 : Registration and coffee 
            <br>10:30 : Participant presentations (6 presentations - 10 min each) 
            <br>12:00 : Musical performance 
            <br>13:00 : Lunch Break
            <br>14:00 : Participant presentations (6 presentations - 10 min each) 
            <br>15:30 : Coffee & tea break
            <br>16:00 : Performances (improvisation and notation) 
            <br>17:00 : Roundtable discusson and summary of the day 
            <br>19.30 : Dinner 


            <br><br>
           
		 	<h4>PRESENTATIONS</h4>
                    
            <br><b>::: Morning session :::</b>
            <br><strong>Jonathan Impett</strong>: Untitled
            <br><strong>Sally Jane Norman</strong>: New Notations and Embodied Experience
            <br><strong>Enrique Tomás</strong>: Towards Non-linguistic Writing for Music: A Performative Approach
            <br><strong>Ryan Ross Smith</strong>: The Trappings of Choice: Mediating the Democratization of Participation through Control
            <br><strong>Franziska Schroeder</strong>: The absence of notation - exploring a haptic aurality
            <br><strong>Frédéric Bevilacqua</strong>: Perspective on notating and annotating expressive mouvements for interactive systems<br>

            <br><b>::: Afternoon session :::</b>
            <br><strong>Pavlos Antoniadis</strong>: Old notation, new interface: embodied navigation of complex piano notation with the GesTCom
            <br><strong>Dominique Fober</strong>: How technology affects the music score
            <br><strong>Claudia Molitor</strong>: A visual moment
            <br><strong>Einar Torfi Einarsson</strong>: Notation’s struggle to the surface (or, towards concrete notation)
            <br><strong>Frances-Marie Uitti</strong>: Signs and Symbols for a New Music
            <br><strong>Thor Magnusson</strong>: On Notating Algorithmic Machines
            <br><strong>Thierry Coduys</strong>: Playing the Sound Space<br>

            <br><br>
           
		 	<h4>PERFORMANCES</h4>
                    
            <br>

            <p><b>There will be three performance sessions during the day:</b><br></p>

            <br><b>::: First performance session :::</b>
            <br><strong>Enrique Tomás</strong>: Tangible Scores
            <br><strong>Ryan Ross Smith</strong>: Study no. 56
            <br><strong>Diemo Schwarz</strong>: Playing the Sound Space<br><br>
            
            <b>::: Second performance session :::</b>
            <br><strong>Sally Jane Norman</strong>: Object of Notation
            <br><strong>Pavlos Antoniadis</strong>: Learning Lemma-Icon-Epigram with GesTCom
            <br><strong>Group performance with Franziska Schroeder and others</strong>

            <br>
            <br/><br/><br/>

            </div>
        </div>
    </section>
