    <!-- Programme Section -->
        <section id="programme">
      <div class="dark-background">

      <div class="container content-section text-left">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            <p><b>The day's programme (Thursday, September 22nd) is the following:</b><br></p>

            <br>10:00 : Registration and coffee 
            <br>10:30 : Participant presentations (6 presentations - 10 min each) 
            <br>12:00 : Musical performance 
            <br>13:00 : Lunch Break
            <br>14:00 : Participant presentations (6 presentations - 10 min each) 
            <br>15:30 : Coffee & tea break
            <br>16:00 : Performances (improvisation and notation) 
            <br>17:00 : Roundtable discusson and summary of the day 
            <br>19.30 : Dinner 


            <br><br>
           
		 	<h4>PERFORMANCES</h4>
                    
            <br>

            <p><b>There will be three performance sessions during the day:</b><br></p>

            <br><strong>Sally Jane Norman</strong>: Object of Notation
            <br><strong>Enrique Tomás</strong>: Tangible Scores
            <br><strong>Ryan Ross Smith</strong>: Hmmm
            <br><strong>Jonathan Impett</strong>: Title of piece

            <br><strong>Group performance with: </strong>Franziska Schroeder and others

            <br>
            <br/><br/><br/>

            </div>
        </div>
    </section>
