    <!-- Programme Section -->
        <section id="programme">
      <div class="dark-background">

      <div class="container content-section text-left">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              
            <br/><br/><br/>

            
            <h2>PROGRAMME</h2>
                    
            <br>

            <p><b>The day's programme (Thursday, September 22nd) is the following:</b><br></p>

			<br>10:00 : Registration and coffee
			<br>10:30 : Participant presentations (6 presentations - 10 min each)
			<br>12:00 : Lunch with a musical performance
			<br>13:30 : Participant presentations (6 presentations - 10 min each) 
			<br>15:00 : Tea and biscuits
			<br>15:30 : Performances (improvisation and notation)
			<br>16:30 : Round table discusson and summary (key topics, future work) 
			<br>19.30 : Dinner  

            <br><br>
           
		 	<h4>PERFORMANCES</h4>
                    
            <br>

            <p><b>There will be three performance sessions during the day:</b><br></p>

			<br><strong>Name</strong>: Title of piece
			<br><strong>Name</strong>: Title of piece
			<br><strong>Name</strong>: Title of piece
			<br><strong>Name</strong>: Title of piece
			<br><strong>Name</strong>: Title of piece

            <br>
            <br/><br/><br/>

            </div>
        </div>
    </section>
