    <!-- Registration Section -->
    <section id="registration">
      <div class="dark-background">

      <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration</h2>
        
        <p>Participation in the symposium is open and we encourage people from diverse fields of practice to come along and think about the role of instrument desing in artistic practice. There will be time during the round table and discussion for an open dialogue.</p>

        <p>Registration is free, but we ask people to fill in the form below in order to have people's emails, and to keep track of numbers.</p>

        <div class="iframe-rwd">

        <iframe src="https://docs.google.com/forms/d/1dYcofkEwdAiGFFjPK7Tf6yR7uOmH2JjNqkiyBSnkI1U/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>

        <br> <br>
        <p>Registration also available through the <a href= "https://docs.google.com/forms/d/1dYcofkEwdAiGFFjPK7Tf6yR7uOmH2JjNqkiyBSnkI1U/viewform" target="_blank"> Google Form</a> (in a new window).
        </p>

        <br>Welcome!

              
            <br/><br/><br/>

            </div>
        </div>
    </section>
