    <!-- Registration Section -->
    <section id="registration">
      <div class="dark-background">

      <div class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
            <br/><br/><br/>

        <h2>Registration</h2>
        
        <p>Participation in the symposium is open and we encourage people from diverse fields of practice to come along and think about the role of instrument desing in artistic practice. There will be time during the round table and discussion for an open dialogue.</p>

        <p>The registration fee of £35 (£25 for students and unemployed) will include the talks, performances, lunch, coffee and tea. We will send you the link to the online shop for payment shortly after you have registered here below.</p>

        <div class="iframe-rwd">

        <iframe src="https://docs.google.com/forms/d/1dYcofkEwdAiGFFjPK7Tf6yR7uOmH2JjNqkiyBSnkI1U/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>

        <br> <br>
        <p>Registration also available through the <a href= "https://docs.google.com/forms/d/1dYcofkEwdAiGFFjPK7Tf6yR7uOmH2JjNqkiyBSnkI1U/viewform" target="_blank"> Google Form</a> (in a new window).
        </p>

        <br>Welcome!
<!--
        <p>Please register through the <a href= "http://onlineshop.sussex.ac.uk" target="_blank"> University of Sussex Online Shop</a> 
        </p>
    -->
              
            <br/><br/><br/>

            </div>
        </div>
    </section>
